body {
  background-color: #E9EBEE;
  font-family: "Lucida Grande";
}

.post {
  background-color: #FFFFFF;
  max-width: 500px;
  overflow: auto;
  /*overflow needed to be set or else the .header margin would push the whole .post down and not expand .post*/
}

.header {
  display: flex;
  margin: 8px;
}

.trimImg {
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  max-width: 40px;
}

.name {
  color: #365899;
  font-size: 14px;
}

p:first-of-type {
  margin: 13px;
}

.likeBox{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: -40px;
    left: 0px;
    display: none;
    visibility: hidden;
    padding:0 20px;
    /*transition-property: visibility;*/
    /*transition-delay: 2s;*/
}

.likeMain {
  position: relative;
  display: flex;
  align-items: center;
}

.likeMain:after {
  /*content: attr(data-status);*/
}

.likeMain:hover .likeBox {
  display: flex;
  flex-direction: row;
  visibility: visible;
}

.reactions {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.reactions div {
  margin-left: 3px;
}
