body {
  background-color: #E9EBEE;
}

.post {
  background-color: #FFFFFF;
}

.header {
  display: flex;
}

.trimImg {
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  max-width: 40px;
}

.name {
  color: #365899;
  font-size: 14px;
}

.likeBox{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: -40px;
    left: 0px;
    display: none;
    visibility: hidden;
    padding:0 20px;
    /*transition-property: visibility;*/
    /*transition-delay: 2s;*/
}

.likeMain {
  position: relative;
}

.likeMain:after {
  /*content: attr(data-status);*/
}

.likeMain:hover .likeBox {
  display: flex;
  flex-direction: row;
  visibility: visible;
}

.reactions {
  display: flex;
}

.reactions div {
  margin-left: 3px;
}
