@import './reset.css';
@import './searchBox.scss';

body {
  min-width: 100vw;
  background-color: #EDEDED;
  font-family: Helvetica Neue, Arial, Lucida Grande, sans-serif;
}

.container {
    display: grid;
    grid-template:
      "a a a a" auto
      "b b b b" auto
      "c c c c" auto
      "d d d d" auto
      "f f f f" auto
      / 1fr 1fr 1fr 1fr;
    // grid-auto-columns: 100px;
  }

.tenPercent {
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #F8CC45;
  text-align: center;
}

.heading {
  grid-column: 1/-1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.search {
  grid-column: 1/-1;
  grid-row: 3;
  background-image: url('./assets/searchBackground.png');
  background-size: 100vw;
  min-height: 80vh;
}

.flights {
  grid-column: 1/-1;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.flightItem{
  background-color: white;
}
