.flightOnlyOption {
  // display: block;
  position: relative;
  padding-left: 16px;
  // margin-bottom: 12px;
  cursor: pointer;
  // font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flightOnlyOption input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
}

.flightOnlyOption input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.flightOnlyOption input:checked ~ .checkmark:after {
    display: block;
}

.flightOnlyOption .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: white;
}

.roundtrip{
  // display: none;
}
