.button {
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid red;
  border-radius: 25px;
  position: relative;
}

.moveButton {
  animation-name: zoom;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

@keyframes zoom {
  0% {background-color: green; left: 0px; top: 0px;}
  20% {background-color: red; left: 300px; top: 0px;}
  50% {background-color: blue; left: 300px; top: 200px;}
  70% {background-color: orange; left: 0px; top: 200px;}
}
